@model NDU.Models.Document



<form asp-action="AddNewDocument" id="detail-form" asp-controller="Home" asp-antiforgery="true" enctype="multipart/form-data">
    <div>
        <label asp-for="Name">Назва відправника документа:</label>
        <input type="text" asp-for="Name" maxlength="127" required />
        <span asp-validation-for="Name" />
    </div>
    <div>
        <label asp-for="Type">Тип документа:</label>
        <select asp-for="Type">
            <option default>Заява</option>
            <option>Скарга</option>
            <option>Розпорядження</option>
            <option>Довідка</option>
        </select>
    </div>
    <div>
        <label asp-for="EDPNOU">Код за ЄДРПОУ відправника документа:</label>
        <input type="number" asp-for="EDPNOU"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="8" minlength="8" required />
    </div>
    <div>
        <label asp-for="SenderId">Реєстраційний номер відправника:</label>
        <input type="number" asp-for="SenderId" maxlength="127" required />
    </div>
    <div>
        <label asp-for="SenderRegDate">Реєстраційна дата відправника:</label>
        <input type="date" id="sender-date" asp-for="SenderRegDate" required />
    </div>
    <div>
        <label asp-for="FilingDate">Дата подання документа:</label>
        <input type="date" asp-for="FilingDate" required />
    </div>
    <div>
        <label asp-for="RecipientId">Реєстраційний номер отримувача:</label>
        <input type="number" asp-for="RecipientId" maxlength="127" required />
    </div>
    <div>
        <label asp-for="RecipientRegDate">Реєстраційна дата отримувача:</label>
        <input type="date" asp-for="RecipientRegDate" required />
    </div>
    <div>
        <label asp-for="DocState">Стан документа:</label>
        <select asp-for="DocState">
            <option default>Створено</option>
            <option>Відправлено</option>
            <option>Отримано</option>
            <option>На розгляді</option>
            <option>Узгоджено</option>
            <option>Відмовлено</option>
            <option>Надано відповідь</option>
        </select>
    </div>
    <div>
        <label asp-for="ConsiderationDate">Дата розгляду документа:</label>
        <input type="date" asp-for="ConsiderationDate" />
    </div>
    <div>
        <label for="fileInput">Доданий файл</label>
        <input type="file" id="fileInput" name="uploadedFile" accept=".xls,.xlsx,.txt,.doc,.docx" data-max-size="2048" />
    </div>

    <input class="add-submit-btn" type="submit" value="Зберігти" />

</form>


<script>

    var fileInput = document.getElementById("fileInput")
    fileInput.onchange = function () {
        if (this.files[0].size > 2000000) {
            alert("Обмеження розміру файлів - 2мб");
            this.value = "";
        };
    };
    $(function () {
        $('.close-btn-menu').click(function () {
            $('#modDialog').modal('hide');
        })
    })

</script>